h1{
    color: yellowgreen;
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
}

body{
    background-color: goldenrod;
}

.Hola{
    background-color: yellowgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}